<launch>
  <!-- Launch codec_node -->
  <node name="codec_node" pkg="ros2_codec" type="codec_node" output="screen">
    <!-- Add parameters or remappings here if needed -->
  </node>
  
  <!-- rviz -->
  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-d $(find metas_ros)/rviz/rviz.rviz" /> -->
</launch>
